{% include "_base.html" %}
{% block title %}
pdf 
{% endblock title %}

{% block content %}
    <h3>O'ZBEKISTON RESPUBLIKASI OLIY TA'LIM, FAN VA INNOVATSIYALAR VAZIRLIGI</h3>
    <p>O'zbekiston-Finlandiya pedagogika instituti<p>
    <h3>BAHOLASH QAYDNOMASI N%__________</h3>
    <p>Fakultet nome: </p>
    <p>Ta'im yo'nalishi (mutaxassislik) nome: __________</p>

    <p> O'qov yili: <input type="date"/> o'qov yili ______ semester  __________- guruh</p>
    <p> Fan nome : ______<p>
    <p>Fan o'qitovchilari: ______</p>
    <p> Semestrda danga ajratilgan umumiy soadtlar/kredit: ______</p>
    <p> Oraliq nazorat/qayta topshirish o'tkazilgan sana: ______<p>
        <table class="table table-hover">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td colspan="2">Larry the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
        </table>
{% endblock content %}